title: "Entropy and Meaning"
description: "Notes and essays on entropy, intelligence, and meaning"
source: docs
markdown: kramdown
kramdown:
  input: GFM
  math_engine: mathjax
theme: null
plugins:
  - jekyll-optional-front-matter
  - jekyll-titles-from-headings
titles_from_headings:
  enabled: true
  strip_title: true
  collections: true
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: default
